# Dependencies
/node_modules

# All package json
package-lock.json

# Environment varibales
.env

# yarn error logs
yarn-error.log
yarn.lock

# VS code setting
.vscode

# logs
/src/logs/*.log
/src/logs

# Loopity-api
/loopity-api
/public/uploads
.scannerwork/